<link rel="stylesheet" href="/static/passengerProfile.css" type="text/css">
<h1 class="text-center" id="profile">Profile</h1>
<div class="container">
    <div class="leftContainer">
        <table class="table table-striped table-dark">
        <tr>
            <th>Id</th>
            <td>{{profile.id}}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{profile.firstName}}</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>{{profile.lastName}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{profile.email}}</td>
        </tr>
        <tr>
            <th>Mobile</th>
            <td>{{profile.mobile}}</td>
        </tr>
        <tr>
            <th>Dob</th>
            <td>{{profile.dob}}</td>
        </tr>
    </table>
    </div>
    <div class="rightContainer">
        <button type="button" class="btn btn-info shadow"><a href="/update" class="editBtn">Edit</a> </button>

    <button class="btn btn-danger shadow"><a href="/delete" class="deleteBtn" onclick="return confirm('Are you sure you want to delete this')" id="deleteBtn">Delete</a></button>
    </div>
    <div>
        <a href="/cabs">Cabs</a>
    </div>
</div>